@import url("//fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900");

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--primary-light-color);
  font-family: "Kanit";
  overflow: hidden;
}

#nav-bar {
  z-index: 2;
  background-color: var(--primary-color);
  color: var(--primary-light-color);
  position: fixed;
  height: 50px;
  width: 100%;
  padding: 0px 10px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
@media (max-width: 440px) {
  #nav-bar {
    padding-left: 10px;
    height: 40px;
    width: 100%;
    font-size: 12px;
  }
}

#right-nav-headings {
  width: 400px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 440px) {
  #right-nav-headings {
    width: 220px;
    padding-right: 24px;
    font-size: 10px;
  }
}

#right-nav-headings:active {
  text-decoration: underline;
}

#profile-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 111;
  display: none;
}

@media (max-width: 440px) {
  #profile-popup {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

.popup-overlay {
  position: absolute;
  top: calc(50% - 170px);
  left: calc(50% - 320px);
  background-color: var(--primary-light-color);
  height: 300px;
  width: 600px;
  border-radius: 24px;
  padding: 20px;
  display: flex;
  gap: 32px;
  border: 2px solid var(--primary-color);
}

@media (max-width: 440px) {
  .popup-overlay {
    position: absolute;
    top: calc(50% - (33% / 2));
    left: calc(50% - (95% / 2));
    height: 40%;
    width: 95%;
    border-radius: 24px;
    padding-bottom: 24px;
    box-sizing: border-box;
  }
}

.popup-content {
  background-color: var(--primary-light-color);
  width: 250px;
  height: 280px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid var(--primary-color);
}

@media (max-width: 440px) {
  .popup-content {
    width: 52%;
    height: 90%;
  }
}

.popup-heading {
  width: 100%;
  height: 100%;
  color: var(--primary-color);
  font-size: xx-large;
}

@media (max-width: 440px) {
  .popup-heading {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
  }
}

.popup-content h2 {
  color: var(--primary-color);
}

@media (max-width: 440px) {
  .popup-content h2 {
    font-size: medium;
    margin: 0px;
  }
}

.popup-content label {
  color: var(--primary-color);
}

@media (max-width: 440px) {
  .popup-content label {
    font-size: small;
  }
}

#nameInput {
  height: 2px;
  width: 200px;
  background-color: var(--primary-color);
  color: var(--primary-light-color);
  border-radius: 62px;
  padding: 10px;
  border: none;
  outline: none;
}

@media (max-width: 440px) {
  #nameInput {
    width: 150px;
  }
}

#nameInput::-webkit-input-placeholder {
  color: var(--primary-light-color);
}

@media (max-width: 440px) {
  #nameInput::-webkit-input-placeholder {
    font-size: 0.9em;
    letter-spacing: 0.1em;
    padding-left: 4px;
  }
}

#profilePicInput {
  color: var(--primary-color);
}

@media (max-width: 440px) {
  #profilePicInput {
    font-size: 0.9em;
  }
}

#profilePicInput::file-selector-button {
  width: 100px;
  height: 24px;
  background-color: var(--primary-color);
  color: var(--primary-light-color);
  font-weight: 500;
  border-radius: 62px;
  border: none;
}

@media (max-width: 440px) {
  #profilePicInput::file-selector-button {
    width: 80px;
    height: 20px;
    font-size: 0.9em;
  }
}

#profilePicInput::file-selector-button:hover {
  scale: 1.01;
}

@media (max-width: 440px) {
  #profilePicInput::file-selector-button:hover {
    scale: 0.99;
  }
}

#saveProfileBtn {
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--primary-light-color);
  font-size: medium;
  font-weight: 600;
  padding: 4px;
  margin-top: 16px;
  border-radius: 62px;
  border: 2px solid var(--primary-color);
}

@media (max-width: 440px) {
  #saveProfileBtn {
    font-size: small;
    margin-top: -5px;
  }
}

#saveProfileBtn:hover {
  scale: 0.991;
  cursor: pointer;
}

#saveProfileBtn:active {
  scale: 1.04;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

@media (max-width: 440px) {
  main {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.resume-img {
  z-index: 1;
  height: 80vh;
}

@media (max-width: 440px) {
  .resume-img {
    height: 60vh;
  }
}

.main-heading-section {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-items: start;
  gap: 48px;
}

@media (max-width: 440px) {
  .main-heading-section {
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}

#main-heading {
  right: 0px;
  height: 150px;
  width: 500px;
  font-size: 80px;
  line-height: 80px;
  color: var(--primary-color);
}

@media (max-width: 440px) {
  #main-heading {
    width: 80%;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
  }
}

#build-button {
  background-color: var(--primary-color);
  color: var(--primary-light-color);
  font-size: 24px;
  border: 2px solid var(--primary-color);
  width: 180px;
  height: 48px;
  border-radius: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  --shadow-color: rgba(60, 64, 67, 0.3);
  box-shadow: var(--shadow-color) 0px 1px 2px 0px,
    var(--shadow-color) 0px 1px 3px 1px, var(--shadow-color) 0px 2px 6px 2px;
}

@media (max-width: 440px) {
  #build-button {
    width: 150px;
    height: 34px;
    font-size: 18px;
    margin-top: -32px;
    padding: 12px;
  }
}

#build-button:hover {
  scale: 1.05;
  box-shadow: 0 2px 4px -1px var(--shadow-color),
    0 4px 5px 0 var(--shadow-color), 0 1px 10px 0 var(--shadow-color);
}

#build-button:active {
  scale: 0.98;
}

a {
  color: var(--primary-light-color);
  text-decoration: none;
}

#arrow-img {
  height: 32px;
  width: 32px;
}

#footer {
  z-index: 2;
  background-color: var(--primary-color);
  color: var(--primary-light-color);
  bottom: 0%;
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

:root {
  --primary-color: #4361ee;
  --primary-light-color: white;
  --primary-black: black;
}
